.infoDiv{
	margin:4em;
}

input, textarea{
	box-shadow: inset 1px 1px 3px #555;
    border-radius: 5px;
    padding: 5px;

}

.inputBox{
	width:100%;
}


.row{
	margin-bottom:5px;
}

textarea{
	width:100%;
}

.right{
	float: right;
}

.add{
	background-color: transparent;
    box-shadow: 1px 1px 3px #555;
    border-radius: 5px;
    cursor: pointer;
}

textarea.address{
	resize:none;
}

.line{
	border:solid #c7c7c7;
	margin-bottom: 1em;
}

#form1 > img{
    max-height: 15em;
    display: block;
}

/*---------radio button-----------*/
.radioP{
	display: inline;
}

.radio{
	box-shadow: 0px 0px;
    -webkit-appearance: radio;
    display: inline;

}

/*------final submit button----*/
#update{
	padding: 10px 25px;
    background-color: #5bc4d8;
    color: white;
}

#update:active{
	transform: translateY(4px);
}