/****************************************/
/*  Google Map Setting */
#googleMap {
	float: left;
	width: 100%;
	background: #CCCCCC;
	height: 40%;
}

/*******************************/
/*		filter module		*/
button{
	height:2em;
	border-radius: 10px;
    padding: 0 2em;
}


/****************************************/
/*  Ask Doctor Row */
.btnRow {
	float: left;
	position: relative;
	width: 100%;
	background: #11D4EB;
	height: 50px;
}

#returnBtn {
	position: absolute;
	font-size: 25px;
	left: 10px;
	top: 7.5px;
	background: transparent;
	color: white;
	border: none;
	cursor: pointer;
}

#returnBtn > img {
	width:20px;
	height:20px;
}


/****************************************/
/****************************************/
/*  The main content about doctor */
.infoContainer {
	float: left;
	width: calc(100% - 60px);
	padding: 10px 30px;
	margin-bottom: 50px;
	display: none;
}

/*  Text */
#viewinfo {
	float: left;
	font-size: 0px;
	width: 100%;
}

#viewinfo > span {
	font-size: 22px;
}

.commonText {
	color: black;
}

#viewtype,#address {
	color: #11D4EB;
}

#viewname{
	font-weight: bold;
}

/*  Tags */
#tagsContainer {
	float: left;
	width: 100%;
	font-size: 20px;
	height: 30px;
	margin-top: 10px;
}

.tagClass {
	float: left;
	height: 30px;
	margin-right: 10px;
	background: #11D4EB;
	border-radius: 15px;
}

.tagClass > img {
	float: left;
	width: 20px; 
	height: 20px;
	margin-left: 10px;
	margin-top: 5px;
}

.tagClass > p {
	float: left;
	font-size: 20px;
	margin-right: 10px;
	margin-top: 5px;
	color: white;
}



/****************************************/
/*  Left Div Block */
.infoDiv {
	float: left;
	position: relative;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 100px;
}

.basicInfo {
	float: left;
	width: calc(100% - 100px);
	margin-left: 20px;
	margin-right: 50px;
}

.basicInfoDivRight {
	float: left;
	width: 75%;
	/*width: 800px;*/
	height: 360px;
	margin-top: 50px;
}

/****************************/
/*  LEFT DIV */
/* basic info */

.time{
	width: 37.5em;
	margin-bottom: 1px;
	cursor: pointer;
	height:3em;
	border: solid 1px #888;
}

.timeDiv{
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
}

.timeDiv > p{
	display: inline-block;
}

.timeRow{
	display: none;
}

.basicInfoText {
	float: left;
	margin-right:10em;
}

.basicInfoText > p:first-child > span:first-child {
	font-size:26px;
}

.basicInfoText > p:first-child > span:nth-child(2) {
	font-size:16px;
	color:#AAAAAA;
}

.basicInfoText > p:first-child > span:nth-child(3) {
	font-size:20px;
	color:#AAAAAA;
	margin-left: 10px;
}

#docName_en {
	font-size:20px;
	line-height: 30px;
}

#docGender {
	color:#AAAAAA;
	font-size:14px;
}

#docWkHr{
	display: inline-block;
    margin-right: 2em;
	font-size: 14px;
	float: right;
	margin:1em;
}

.fa-square{
	margin-right: 5px;
}

.btns {
	/*float: left;*/
	margin-top: 20px;
	z-index: 5;
}

.clinicbotDiv {
	float: right;
	position: relative;
	height: 60px;
	width: 160px;
	/*margin-right:50em;*/
}

@media screen and (max-width: 1080px){
	.clinicbotDiv{
		margin-right: 5em;
	}
}



.clinicbotDiv > img {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
}

.clinicbotDiv > p {
	position: absolute;
	top: 45px;
	left: 40px;
	font-size: 12px;
	color: #11D4EB;
	width: 120px;
	font-family: "Avenir Black", sans-serif;
	text-align: center;
}

#useClinicbot {
	position: absolute;
	top: 0;
	left: 40px;
	height: 40px;
	width: 120px;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	background: #11D4EB;
	color: white;
	cursor: pointer;
	padding: 0;
}

#useClinicbot:hover {
	color: #11D4EB;
	background: #CCC;
}

#favor {
	float: left;
	position: relative;
	margin-left: 10px;
	margin-top: 5px;
	height: 30px;
	background: transparent;
	color: #AAA;
	cursor: pointer;
	padding: 0;
	display: none;
}
#favor:hover {
	color: #11D4EB;
}
#favor > img {
	float: left;
	width: 30px;
	height: 30px;
}
#favor > span {
	float: left;
	font-size: 18px;
	margin-top: 5px;
	line-height: 25px;
	width: 80px;
	height: 30px;
}


/* contact info */
.contactInfo {
	float: left;
	width: 75%;
	border-bottom-style: solid;
    border-bottom-color: #888;
    padding-bottom: 1em;
}

.contactInfoText {
	margin-top: 20px;
}

.contactInfoText p {
	line-height: 24px;
}

.contactInfoText > p:first-child {
	font-weight: bold;
}

#docTel, #docEmail, #docAddress, #docLanguage {
	color: #666666;
}

#docLanguage {
	margin-top: 24px;
}

/****************************/
/*  RIGHT DIV */
/* certification info */
#certifyInfo {
	float: left;
	margin-left: 25px;
	margin-top: 25px;
	width: calc(100% - 250px);
}

#certifyInfo > p:first-child {
	color:black;
	font-weight: bold;
	font-size: 20px;
}

#certifyInfo > p {
	line-height: 30px;
	color:black;
}

#photo {
	float: right;
	margin-right: 25px;
	margin-top: 25px;
	max-width: 200px;
	height: 200px;
	border: none;
	display: none;
}


/* timetable info */
#timeInfo {
	float: left;
	/*margin: 25px;*/
	background: #DDD;
	border: none;
	border-radius: 5px;
	padding: 10px 50px;
	width: 25em;
	/*width: calc(100% - 150px);*/
}

/*#timeInfo > p:first-child {
	color:black;
	font-weight: bold;
	font-size: 20px;
}*/

#timeInfo > p {
	line-height: 24px;
}

.modifyInfo {
	position: absolute;
	right: 2rem;
	bottom: 0px;
}

.modifyInfo > a {
	color: #23b1ec;
	text-decoration: underline;
}

/* clinic introduction */
#otherInfo {
	float: left;
	margin-left: 25px;
	margin-top: 25px;
	width: calc(100% - 60px);
}

#otherInfo > p:first-child {
	color:black;
	font-weight: bold;
	font-size: 20px;
}

#otherInfo > p {
	line-height: 30px;
	color:black;
}

/****************************************/
/*  Bottom article part */
.articles {
	float: left;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	display: none;
}
	.articles > p {
		position: absolute;
		left: 20px;
		top: -50px;
		font-size: 24px;
		font-weight: bold;
	}


@media screen and (max-width: 1080px) {
	.basicInfo {
		width: 100%;
	}

	.basicInfoText {
		width: 50%;
	}

	.contactInfo {
		/*width: 50%;*/
	}


	.basicInfoDivRight {
		width: 100%;
	}

	.basicInfo {
		margin-left: 10px;
	}
}


@media screen and (max-width: 980px) {
	#clinicPic {
		margin-top: 70px;
		height: 160px;
	}

	.diffMobileImg{
		border-radius: 100%;
	}

}

@media screen and (max-width: 736px) {
	.infoContainer {
		width: calc(100% - 40px);
		padding: 10px 20px;
	}

	#viewinfo {
		font-size: 18px;
	}
	
	.basicInfo {
		margin-left: 0;
	}

	#photo {
		height: 150px;
	}

	#certifyInfo {
		width: calc(100% - 200px);
	}

	#clinicPic {
		float: left;
		margin-top: 30px;
		margin-left: calc(50% - 150px);
		max-height: 80%;
		width: 300px;
		max-width: 80%;
	}

	#clinicInfo {
		float: left;
		margin: 10px 30px;
		width: calc(100% - 60px);
		padding: 0;
	}

	.time{
		width:calc(100% - 10px);
	}
	#timeInfo {
		width: calc(100% - 40px);
	}

	
}

@media screen and (max-width: 480px) {
	a > #address{
		width:30%;
	}

	.infoContainer {
		width: calc(100% - 20px);
		padding: 10px 10px;
	}

	#viewinfo {
		font-size: 14px;
	}

	.basicInfoText {
		width: 100%;
	}

	.contactInfo {
		width: 100%;
	}

	#photo {
		margin: 20px calc(50% - 75px) 0 calc(50% - 75px);
	}

	#certifyInfo {
		width: calc(100% - 20px);
		margin-left: 10px;
	}

	/* timetable info */
	
	#timeInfo {
		margin: 10px;
		padding: 10px 10px;
	}

	/*#timeInfo > p:first-child {
		color:black;
		font-weight: bold;
		font-size: 20px;
	}*/

	#timeInfo > p {
		font-size: 12px;
		line-height: 20px;
	}

	#clinicPic {
		margin-left: 10px;
		max-height: 80%;
		width: 300px;
		max-width: calc(100% - 20px);
	}

	.btns {
		width: 100%;
	}

	#docArticles > #likeP{
	    margin-right: -3em;
	}
}

@media screen and (max-width: 380px) {
	.clinicbotDiv {
	}
	#favor {
		margin-left: 5px;
	}
}

#region{
	color: #11D4EB;
}

/*======right side sickness info========*/
.rightPart{
	float: right;
}

.sickBar{
	background-color: #dcd9d9;
    padding: 5px 15px;
    margin-right: -10em;
}

ul.sicknessArticles{
	margin:1em -2em 1em 2em;
	width:15em;
}

ul > li > #content{
	border: solid 1px rgba(160, 160, 160, 0.3);
    /* border-radius: 5px; */
    margin-bottom: 2em;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.image > img{
	border-radius: 5px;
}

.contentTitle > h3{
	color: white;
	margin-left: 1em;
	margin-top: 0;
}

.contentTitle{
	background-color: #305360;
    margin-top: -7px;
    /*border-radius: 5px;*/
}

#content > .content{
	padding: 0 1em .5em 1em;
}

.content > .tags{
	color: #888;
	cursor: pointer;
}

.content > p{
	font-weight:400;
}

ul.actions li.readBtn{
	background-color: #305360;
    padding: 5px 15px;
    border-radius: 5px;
    margin:1em auto;
    width:8em;
}

.readBtn > a{
	color: white !important;
	font-weight: 100;
    box-shadow: 0 0 transparent;
}

@media screen and (max-width: 480px){
	ul > li.readBtn > a.button{
		padding:0 1.8em 0 0;
	}
}

.readBtn > a.button
{
	box-shadow: 0 0 transparent;
	color: white !important;
	padding:0 1.5em;
}

.readBtn > a:hover {
	background-color: #305360;
	box-shadow: 0 0 transparent;
}

.basicInfo > .contactInfo > button.time :hover{
	background-color: transparent;
	box-shadow: 0 0 transparent;
}


.fb-page{
	width:20em;
	z-index: -5;
}

/*=======vaccine table============*/

#vaccine > h3{
	background-color: #e6e3e3;
	padding:.5em 2em;
}

table tbody tr:nth-child(2n + 1) {
    background-color: rgba(144, 144, 144, 0.075);
}

.vaccineTable > .tableContent > td > div > a{
	color: #5dc9dd;
}


/*===============related doc================*/

/* Posts */

	.posts {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-align-items: stretch;
		-webkit-align-items: stretch;
		-ms-align-items: stretch;
		align-items: stretch;
		margin: 0 0 2rem 0;
	}

		.posts > * {
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
		}

		.posts > * {
			width: 33.33333%;
		}

		.posts > * {
			padding: 1.5rem;
			width: calc(33.33333% + -3rem);
			/*width: calc(33.33333% + 1rem);*/
		}

		.posts > :nth-child(-n + 3) {
			padding-top: 0;
		}

		.posts > :nth-last-child(-n + 3) {
			padding-bottom: 0;
		}

		.posts > :nth-child(3n + 1) {
			padding-left: 0;
		}

		.posts > :nth-child(3n) {
			padding-right: 0;
		}

		.posts > :nth-child(3n + 1),
		.posts > :nth-child(3n) {
			width: calc(33.33333% + -3.5rem);
			/*width: calc(33.33333% + -0.5rem);*/
		}

		.posts > div > article {
			background-color: #ffffff;
			margin: 0 0 3rem 0;
		}

			.posts > div > article > .image {
				width: 100%;
			}

				.posts > div > article > .image img {
					width: 100%;
				}

			 .content {
				
			background-color: #ffffff;
				padding: 2rem 2rem 0.1rem 2rem ;
			}

			.posts > div > article:last-child {
				margin-bottom: 0;
			}

		@media screen and (max-width: 1280px) {

			.posts {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-moz-align-items: stretch;
				-webkit-align-items: stretch;
				-ms-align-items: stretch;
				align-items: stretch;
			}

				.posts > * {
					-moz-flex-shrink: 1;
					-webkit-flex-shrink: 1;
					-ms-flex-shrink: 1;
					flex-shrink: 1;
					-moz-flex-grow: 0;
					-webkit-flex-grow: 0;
					-ms-flex-grow: 0;
					flex-grow: 0;
				}

				.posts > * {
					width: 33.33333%;
				}

				.posts > * {
					padding: 1rem;
					width: calc(33.33333% - 3.5rem);
					/*width: calc(33.33333% + 0.66667rem);*/
				}

				.posts > :nth-child(-n + 3) {
					padding-top: 0;
				}

				.posts > :nth-last-child(-n + 3) {
					padding-bottom: 0;
				}

				.posts > :nth-child(3n + 1) {
					padding-left: 0;
				}

				.posts > :nth-child(3n) {
					padding-right: 0;
				}

				.posts > :nth-child(3n + 1),
				.posts > :nth-child(3n) {
					width: calc(33.33333% - 2.5rem);
					/*width: calc(33.33333% + -0.33333rem);*/
				}

				.posts > div > article {
					margin: 0 0 2rem 0;
				}

		}

		@media screen and (max-width: 980px) {

			.posts {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-moz-align-items: stretch;
				-webkit-align-items: stretch;
				-ms-align-items: stretch;
				align-items: stretch;
				text-align: center;
			}

				.posts > * {
					-moz-flex-shrink: 1;
					-webkit-flex-shrink: 1;
					-ms-flex-shrink: 1;
					flex-shrink: 1;
					-moz-flex-grow: 0;
					-webkit-flex-grow: 0;
					-ms-flex-grow: 0;
					flex-grow: 0;
				}

				.posts > * {
					width: 100%;
				}

				.posts > * {
					padding: 1rem;
					width: calc(100% + 2rem);
				}

				.posts > :nth-child(-n + 1) {
					padding-top: 0;
				}

				.posts > :nth-last-child(-n + 1) {
					padding-bottom: 0;
				}

				.posts > :nth-child(1n + 1) {
					padding-left: 0;
				}

				.posts > :nth-child(1n) {
					padding-right: 0;
				}

				.posts > :nth-child(1n + 1),
				.posts > :nth-child(1n) {
					width: calc(100% + 1rem);
				}

				.posts > div > article {
					margin: 0 auto 2rem auto;
					max-width: 30rem;
				}

					.posts > div > article:last-child {
						margin-bottom: 2rem;
					}

				.posts > div:last-child > article:last-child {
					margin-bottom: 0;
				}

		}

		@media screen and (max-width: 736px) {

			.posts {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-moz-align-items: stretch;
				-webkit-align-items: stretch;
				-ms-align-items: stretch;
				align-items: stretch;
			}

				.posts > * {
					-moz-flex-shrink: 1;
					-webkit-flex-shrink: 1;
					-ms-flex-shrink: 1;
					flex-shrink: 1;
					-moz-flex-grow: 0;
					-webkit-flex-grow: 0;
					-ms-flex-grow: 0;
					flex-grow: 0;
				}

				.posts > * {
					width: 100%;
				}

				.posts > * {
					padding: 0.75rem;
					width: calc(100% + 1.5rem);
				}

				.posts > :nth-child(-n + 1) {
					padding-top: 0;
				}

				.posts > :nth-last-child(-n + 1) {
					padding-bottom: 0;
				}

				.posts > :nth-child(1n + 1) {
					padding-left: 0;
				}

				.posts > :nth-child(1n) {
					padding-right: 0;
				}

				.posts > :nth-child(1n + 1),
				.posts > :nth-child(1n) {
					width: calc(100% + 0.75rem);
				}

				.posts > div > article {
					margin: 0 auto 1.5rem auto;
					max-width: 22rem;
				}

					.posts > div > article:last-child {
						margin-bottom: 1.5rem;
					}

				.posts > div:last-child > article:last-child {
					margin-bottom: 0;
				}

		}

#moreEssay{
	float:left;
}

#black {
    color: #000000;
    display: inline;
    font-weight: bold;
    font-size: 1.2em;
}

#blue {
    display: inline;
    font-weight: bold;
    font-size: 1.2em;
    color: #5dc9dd;
}

.contentSickness {
    background-color: rgb(252,252,252);
    /* background-color: rgba(187, 190, 193, 0.19); */
    padding: 0 1.5rem 0 0;
    max-height: 8em;
}

.bulletsDiv {
    background-color: #5dc9dd;
    text-align: center;
    float: left;
    max-height: 8em;
}

.bulletsDiv > p {
    text-align: center;
    vertical-align: bottom;
    width: 40px;
    color: #ffffff;
    line-height: 8em;
}

.nameTag {
    float: left;
    padding: 1.5em 0 0 1em;
}

.nameTag > h3 {
    display: inline;
    line-height: 2em;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}

.nameTag span, .nameTag > p, #address > p{
    color: #888;
}

.nameTag > p {
    line-height: 0em;
}

.address {
    width: 36%;
    float: right;
    margin-right: 0px;
    padding: 0.5em 0.5em 0.1em 0.5em;
    text-align: left;
}

.address > h3 {
    display: inline;
    line-height: 1.5em;
    font-size: 1em;
    font-weight: bold;
}

.more > p {
    color: #5dc9dd;
    text-align: center;
    vertical-align: bottom;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}

@media screen and (max-width: 1235px){
	a > .address{
		width:32%;
	}

	.nameTag > h3{
		font-size: 1.2em;
	}

	
}

@media screen and (max-width: 1120px){
	.nameTag > h3{
		display:block;
		margin-bottom: 0px;
	}
	.nameTag > span{
		display: block;
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 980px){
	/*#moreEssay > .right{
	    top: -450px;
	    position: absolute;
	    right: 5px;
	}*/
	.nameTag > h3{
		display:inline;
		margin-bottom: 0px;
	}

	.nameTag > span{
		display: inline;
		margin-bottom: 5px;
	}
}

#moreEssay > .right{
	width: 30px;
    background-color: #dedede;
    float: right;
    top: -110px;
    cursor: pointer;
    display: none;
}

#moreEssay > .left{
	width: 30px;
    background-color: #dedede;
    float: left;
    top: 70px;
    cursor: pointer;
    display: none;
}

.rightBox{
	float: right;
	width:15.5%;
}

.clinicBotTag{
	display: none;
	width:30px;
}

/*=========new infinite articles header===============*/

@media screen and (max-width: 1235px){
	#content > .articleLike{
		top:10em;
	}	
}

@media screen and (max-width: 980px){
	#content > .articleHeader{
		right:15.5em;
	}
	#content > .articleLike{
		right:18em;
		top:20em;
	}
}

@media screen and (max-width: 945px){
	#content > .articleLike{
		right: 8em;
	}
}

@media screen and (max-width: 570px){
	#content > .articleHeader{
		right: 0;
	}
	#content > .articleLike{
		right: 5px;
	}
}

@media screen and (max-width: 520px){
	#content > .articleLike{
		top: 15em;
	}
}

@media screen and (max-width: 380px){
	#content > .articleLike{
		top: 12em;
	}
}

#likeP{
    float: right;
    margin-right: 3em;
}

#likeNum{
	margin-right: 5px;
}

.selected{
	-moz-box-shadow:    inset 2px 4px 5px #000000;
  	-webkit-box-shadow: inset 2px 4px 5px #000000;
  	box-shadow:         inset 2px 4px 5px #000000;
}

.tagDiv{
    display: inline-block;
    background-color: white;
    color: #305360;
    /*border-style: solid;
    border-color: white;*/
    border-radius: 2em;
    padding: 5px;
    margin:3px 5px;
    cursor: pointer;
}

.articleHeader{
    float: right;
    top: 2em;
    right: 1em;
    color: white;
}

.articleLike{
	color: white;
	float: right;
	top:14em;
	right: 2em;
}

ul.posts > div > li > #content{
    border: solid 1px rgba(160, 160, 160, 0.3);
    /* border-radius: 5px; */
    margin-bottom: 2em;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}