#wrapper > .main > .tabs > .titles > .title.active{
	cursor:default;
	color: black;
	font-size:2.5em;
	font-weight: 400;	
}

#wrapper > .main > .tabs > .panels > .panel{
	padding:2em;
}

.spotlight > p {
	color: black;
}


table thead{
	background-color: #305360;
}

table th{
	color: white;
	text-align: center;
	min-width: 5em;
}

table td.dummy{
	height:3em;
}

table td{
	text-align: center;
	color: #305360;
	font-weight: 400;
	min-width: 5em;
}

table td.clinic, table td.phone{
	color: black;
}

@media screen and (max-width: 840px){
	#wrapper > #one > .tabs > .titles > li.title{
		font-size:1.5em;
	}
}

@media screen and (max-width: 480px){
	#three{
		overflow-x: scroll;
	}

	#wrapper > #one > .tabs > .titles > li.title{
		width: 90%;
		height: 4.5em;
	}

	table td{
		padding: 2px;
	}

	table th{
		padding: 2px;
	}
}