
.split > *:first-child{
		/*margin-right: 5em;*/
	}

@media screen and (max-width: 360px){
	#three > .inner > .split > .content > h3{
	width: 10em;
}
}

.inner > .split > .content > h3{
	width: 12em;
}

.tooltip{
	font-size: 12px;
}

