.posts {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-align-items: stretch;
		-webkit-align-items: stretch;
		-ms-align-items: stretch;
		align-items: stretch;
		margin: 0 0 2rem 0;
	}

		.posts > * {
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
		}

		.posts > * {
			/*width: 33.33333%;*/
			width: 50%;
		}

		.posts > * {
			padding: 1.5rem;
			/*width: calc(33.33333% + 1rem);*/
			width: 15em;
		}

		.posts > :nth-child(n){
			width: 15em;
		}

		/*.posts > :nth-child(-n + 3) {
			padding-top: 0;
		}

		.posts > :nth-last-child(-n + 3) {
			padding-bottom: 0;
		}

		.posts > :nth-child(3n + 1) {
			padding-left: 0;
		}

		.posts > :nth-child(3n) {
			padding-right: 0;
		}

		.posts > :nth-child(3n + 1),
		.posts > :nth-child(3n) {
			/*width: calc(33.33333% + -0.5rem);*/
			/*width: 15em;
		}*/

		#belowBody{
			max-width: 4em;
			margin-left: 8em;
		}

		@media screen and (max-width: 480px){
	#mapster_wrap_0{
		right: 0em;
	}

	.add{
		font-size: 1.4em;
	}

}

.add{
	font-size: 1.4em;
	text-decoration: underline;
}

#test{
	color: black;
	font-weight: 400;
}

#test > a{
	color: #5dc9dd;
}

h3{
	font-size: 2rem;
	width:7em;
	color:#525252;
}

@media screen and (max-width: 980px){
	.split.knowledgeList{
		-moz-flex-direction:column-reverse;
		-webkit-flex-direction:column-reverse;
		-ms-flex-direction:column-reverse;
		flex-direction: column-reverse;
	}
}