#banner{
	background-color: #ffffff;
	padding: 2em 0 0 0; 
}

/*article content*/
#wrapper > .inner > .path > p{
	color: #5dc9dd;
}

#wrapper > .inner > h1{
	color: black;
	margin: 0;
}

#wrapper > .inner{
	margin-bottom: 50px;
}

#wrapper > .inner > p{
	color: black;
}

/*moreDoctors*/
#black{
	color: #000000;
	display: inline;
	font-weight: bold;
	font-size: 2em;
}

#blue{
	display: inline;
	font-weight: bold;
	font-size: 2em;
	color: #5dc9dd;
}

.contentSickness{
	background-color: rgba(187, 190, 193, 0.19);
	padding: 0 1.5rem 0 0;
	max-height: 10em;
}

.bulletsDiv{
	background-color: #5dc9dd;
	text-align: center;
	float: left;
	max-height: 10em;
}



.bulletsDiv > p{
	background-color: #5dc9dd;
	text-align: center;
	vertical-align: bottom;
	width: 40px;
	height: 10em;
	color:#ffffff;
    line-height: 9em;
}

.nameTag{
	float:left;
	padding: 0 0 0 1em;
}

.nameTag > h3{
	display: inline;	
	line-height: 4em;
	color: black;
	font-weight: bold;
	font-size: 1.5em;
}

.nameTag span {
	/*margin-left: 10px;*/
	color: #bbbec1;
}

.nameTag > p{
	
}

.address{
	 width: 9em;
    float: right;
    margin-right: 0px;
    padding: 0 0 0 2em;
    text-align: left;
}

.address > h3{
	display: inline;	
	line-height: 3em;
	font-size: 1em;
	font-weight: bold;
}

@media screen and (max-width: 980px){
	.address{
	 width: 35em;
    float: right;
    padding: 0px;
    text-align: left;
}
}
@media screen and (max-width: 840px){
	.address{
	 width: 25em;
    float: right;
    padding: 0px;
    text-align: left;
}
}

@media screen and (max-width: 610px){
.address{
	 width: 10em;
    float: right;
    padding: 0px;
    text-align: left;
}
}

.more{
	display: inline;
	float: right;
	cursor: pointer;
}

.more > p{
	color: #5dc9dd;
	text-align: center;
	vertical-align: bottom;
	float: right;
	font-size: 20px;
	line-height: 9em;
	margin:0;
}

/*relatedEssay*/
.inner{
	margin-bottom: 20px;
}

.relatedEssay{
	/*float: right;*/
}

#relatedEssay > .inner > .split > section > h2{
	color: black;
}

.picTag{
	float: right;
}

.like{
	float: right;
}

.like > a{
	margin-left: 10px;
	cursor: pointer;
}

#likePic{
	padding-left: 5px;
}

.icon{
	margin-left: 10px;
	margin-right: 10px;
}

#relatedEssay > .inner > .split > section > ul.actions li{
	display: inline;
}

